
#principal{
    border: solid 1px rgba(204, 204, 204, 0.8);
    padding: 5px;
    margin: 0 auto;
    width: 85%;
    background-color: beige;
}
fieldset{
    margin-bottom: 10px;
}
legend{
    border: solid 2px rgb(187, 187, 187);
    padding: 5px;
    font-weight: bold;
    background: rgb(204, 204, 204);
    border-radius: 15px;
}
#yop{
    border: solid 2px;
    margin: 10px;
}